<div class="controls">
  <h2>Sobre mí</h2>
  <i class="fa-solid fa-pencil controls-icon"></i>
</div>
<p class="text-muted">
  Soy un <span class="highlight__text">apasionado por la tecnología</span> con
  una fuerte motivación por aprender y desarrollar mis habilidades en el mundo
  IT. Empece a programar en 2019 de forma autodidacta y poco a poco fui
  incursionando en el desarrollo web. Desde 2020 soy estudiante de
  <span class="highlight__text">Ingeniería Informática</span>. En 2022 decidí
  formalizar mis conocimientos mediante los cursos
  <span class="highlight__text"
    >Oracle Next Education y Argentina Programa.</span
  >
  Mis valores se basan en el compromiso, el orden y la eficiencia.
</p>
