.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--padding-bg);
    border-top: solid 1px rgba(130, 130, 130, 0.5);
    font-family: var(--font-items);
    gap: 5px;
}

.signature{
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
}

ul{
    list-style-type: none;
    display: flex;
    transform: translateX(-13px);
    gap: 15px;
}

@media (max-width: 563px) {
    ul{
        flex-direction: column;
    }
  }
  