<footer class="bg-light">
  <div class="footer-container">
    <div class="sections-container">
      <ul class="sections">
        <li><a href="#about">Sobre mí & Hardskills</a></li>
        <li><a href="#edu">Educación</a></li>
        <li><a href="#soft">Softskills & Idiomas</a></li>
        <li><a href="#projects">Proyectos</a></li>
      </ul>
    </div>
    <div class="contact-container">
      <ul class="contact">
        <li><i class="fa-brands fa-linkedin"></i><a target="_blank" href="https://www.linkedin.com/in/franco-barbieri-javier/">franco-barbieri-javier</a></li>
        <li><i class="fa-brands fa-github"></i><a target="_blank" href="https://github.com/FrancoBRB/">FrancoBRB</a></li>
        <li><i class="fa-brands fa-whatsapp"></i><a target="_blank" href="https://wa.me/543425274509">Envíame un mensaje vía Whatsapp</a></li>
      </ul>
    </div>
  </div>
  <div
    class="container text-center p-2"
    style="border-top: solid 0.5px rgba(32, 32, 32, 0.2)"
  >
    <p class="text-muted mb-0">
      Made w/ 💙 by <b>FrancoBRB</b>
    </p>
  </div>
</footer>
