<nav class="navbar navbar-expand-lg bg-white p-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">🇦🇷 Argentina Programa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank">#YoProgramo</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link active" href="https://www.linkedin.com/in/franco-barbieri-javier/" target="_blank">Linkedin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://github.com/FrancoBRB" target="_blank">Github</a>
        </li>
        <button class="btn btn-info">Login</button>
      </ul>
    </div>
  </div>
</nav>