<div class="controls">
  <h2>Hard Skills</h2>
  <i class="fa-solid fa-pencil controls-icon"></i>
</div>
<div class="custom-badge">
  <span>· HTML/CSS</span>
</div>
<div class="custom-badge">
  <span>· JAVASCRIPT</span>
</div>
<div class="custom-badge">
  <span>· TYPESCRIPT</span>
</div>
<div class="custom-badge">
  <span>· ANGULAR</span>
</div>
<div class="custom-badge">
  <span>· SVELTE</span>
</div>
<div class="custom-badge">
  <span>· NODEJS</span>
</div>
<div class="custom-badge">
  <span>· EXPRESS</span>
</div>
<div class="custom-badge">
  <span>· PHP</span>
</div>
<div class="custom-badge">
  <span>· LARAVEL</span>
</div>
<div class="custom-badge">
  <span>· C++</span>
</div>
<div class="custom-badge">
  <span>· MySQL</span>
</div>
<div class="custom-badge">
  <span>· FIREBASE</span>
</div>
<div class="custom-badge">
  <span>· GIT</span>
</div>
<div class="custom-badge">
  <span>· POSTMAN</span>
</div>
<div class="custom-badge">
  <span>· LINUX</span>
</div>
