<div class="col-12 col-md-4">
  <div class="card text-start" style="width: 18rem;">
    <img src="assets/img/sdg.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Software Gestión</h5>
      <p class="card-text">Es un proyecto en grupo de tres que fue presentado en la materia Programación Orientada a Objetos. Se trata de un software para control de stock y ventas, entre otras funciones. </p>
      <a href="#" class="btn btn-info">Repositorio</a>
    </div>
  </div>
</div>