<div class="mb-5">
  <div class="controls">
    <h2>Soft Skills</h2>
    <i class="fa-solid fa-pencil controls-icon"></i>
  </div>
  <div class="mt-2" *ngFor="let softskill of softskills">
    {{ softskill.caracteristica }}
    <div
      class="progress"
      role="progressbar"
      aria-label="Info striped example"
      [attr.aria-valuenow]="softskill.porcentaje.toString()"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped bg-info"
        attr.style="width: {{ softskill.porcentaje }}%"
      ></div>
    </div>
  </div>
</div>
