<i
  class="fa-solid fa-plus controls-icon"
  data-bs-toggle="modal"
  data-bs-target="#eduModal"
></i>

<!-- Modal -->
<form #eduForm="ngForm" (ngSubmit)="onSubmit(eduForm)">
  <div
    class="modal fade"
    id="eduModal"
    tabindex="-1"
    aria-labelledby="eduModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="eduModalLabel">Agregar educación</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Imagen:</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="assets/img/fich.png"
              [(ngModel)]="imgToAdd"
              name="imgToAdd"
            />
            <div class="alert alert-danger mt-3" role="alert" *ngIf="imgAlert">
              La imagen no puede ser un campo vacío.
            </div>
            
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Lugar:</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder="UNL Fich"
              [(ngModel)]="establishmentToAdd"
              name="establishmentToAdd"
            />
            <div class="alert alert-danger mt-3" role="alert" *ngIf="establishmentAlert">
              El lugar no puede ser un campo vacío.
            </div>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Carrera:</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Ing. Informática"
              [(ngModel)]="careerToAdd"
              name="careerToAdd"
            />
            <div class="alert alert-danger mt-3" role="alert" *ngIf="careerAlert">
              La carrera no puede ser un campo vacío.
            </div>
          </div>
          <div class="row">
            <label class="form-label"
              >Fecha de inicío y finalización respectivamente:</label
            >
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="YYYY-MM-DD"
                aria-label="YYYY-MM-DD"
                [(ngModel)]="dateIniToAdd"
                name="dateIniToAdd"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="YYYY-MM-DD"
                aria-label="YYYY-MM-DD"
                [(ngModel)]="dateFinToAdd"
                name="dateFinToAdd"
              />
            </div>
          </div>
          <div class="alert alert-danger mt-3" role="alert" *ngIf="dateAlert">
            Por favor ingrese las fechas en formato YYYY-MM-DD.
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
            #closeButton
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-success" type="submit">
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
