<div class="controls">
  <h2>Idiomas</h2>
  <app-edit-lang
    class="controls-icon"
    (newLangEvent)="addLanguage($event)"
    (deleteLangEvent)="deleteLanguage($event)"
    (updateLangEvent)="updateLanguage($event)"
  ></app-edit-lang>
</div>
<div class="mt-2" *ngFor="let lang of languages">
  {{ lang.langName }}:
  <div
    class="progress"
    role="progressbar"
    aria-label="Info striped example"
    [attr.aria-valuenow]="lang.porcentage.toString()"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <div
      class="progress-bar progress-bar-striped bg-info"
      attr.style="width: {{ lang.porcentage }}%"
    ></div>
  </div>
</div>
