<form #editHardForm="ngForm" (ngSubmit)="onSubmit(editHardForm)">
  <span>Id: {{ skill.id }}</span
  ><br />
  <span
    >Nombre: <b>{{ skill.skillname }}</b></span
  >
  <div class="mb-3">
    <label for="skillname-input" class="form-label">Nuevo nombre:</label>
    <input
      type="text"
      class="form-control"
      id="skillnameInput"
      name="skillnameInput"
      [(ngModel)]="newName"
    />
  </div>
  <div class="alert alert-danger" *ngIf="alert" role="alert">
    El nuevo nombre no puede estar vacío.
  </div>  
  <button class="btn btn-danger btn-sm" (click)="deleteHardSkill()">
    Eliminar
  </button>
  <button class="btn btn-success btn-sm mx-3" type="submit">
    Guardar cambios
  </button>
</form>
