<app-navbar></app-navbar>
<app-banner></app-banner>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-sm-6">
      <!-- EMPIEZA ABOUT -->
      <app-about></app-about>
    </div>
    <!-- TERMINA ABOUT -->
    <div class="col-12 col-sm-6">
      <!-- EMPIEZA HARD SKILLS -->
      <app-hard></app-hard>
    </div>
    <!-- TERMINA HARD SKILLS -->
  </div>
</div>

<app-edu></app-edu>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-sm-6">
      <!-- EMPIEZA SOFT SKILLS -->

      <app-soft></app-soft>
    </div>
    <!-- TERMINA SOFT SKILLS -->

    <div class="col-12 col-sm-6">
      <!-- EMPIEZA IDIOMAS -->

      <app-languages></app-languages>
    </div>
    <!-- TERMINA IDIOMAS -->
  </div>
</div>

<app-proyects></app-proyects>
<section id="contact">
  <app-footer></app-footer>
</section>