<div class="container mt-3">
  <div class="controls">
    <h2>Educación</h2>
    <i class="fa-solid fa-pencil controls-icon"></i>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr *ngFor="let edu of educations">
          <th scope="row">
            <img class="table__image" src="{{ edu.img }}" alt="Fich" />
          </th>
          <td>
            <b>{{ edu.institucion }}</b>
          </td>
          <td>{{ edu.carrera }}</td>
          <td>{{ edu.fecha_inicial }} - {{ edu.fecha_final }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
