<div class="container mt-3">
  <div class="controls">
    <h2>Educación</h2>
    <i class="fa-solid fa-pencil controls-icon"></i>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">
            <img class="table__image" src="assets/img/fich.png" alt="Fich">
          </th>
          <td><b>UNL Fich</b></td>
          <td>Ingeniería Informática</td>
          <td>Marzo 2020 - Actualidad</td>
        </tr>
        <tr>
          <th scope="row">
            <img class="table__image" src="assets/img/one.png" alt="Fich">
          </th>
          <td><b>Oracle Next Education</b></td>
          <td>Desarrollador</td>
          <td>Julio 2022 - Enero 2023</td>
        </tr>
        <tr>
          <th scope="row">
            <img class="table__image" src="assets/img/ap.png" alt="Fich">
          </th>
          <td><b>Argentina Programa</b></td>
          <td>Desarrollador Fullstack</td>
          <td>Junio 2022 - Actualidad</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>