<i
  class="fa-solid fa-pencil"
  data-bs-toggle="modal"
  data-bs-target="#aboutModal"
></i>

<!-- Modal -->
<form #aboutForm="ngForm" (ngSubmit)="onSubmit(aboutForm)">
  <div
  class="modal fade"
  id="aboutModal"
  #aboutModal
  tabindex="-1"
  aria-labelledby="aboutModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="aboutModalLabel">Editar sobre mí</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <div class="form-floating">
            <textarea
              class="form-control"
              id="floatingTextarea2"
              style="height: 50vh"
              name="newAbout"
              [(ngModel)]="about"
              spellcheck="false"
              required
            ></textarea>
            <label for="floatingTextarea2">Nuevo sobre mí</label>
            <div *ngIf="alert" class="alert alert-danger mt-2" role="alert">
              El texto sobre mí no puede estar vacío.
            </div>                      
          </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
          #closeButton
        >
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-success">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
</form>
