<header>
  <div class="container">
    <div class="header__hero">
      <div>
        <p class="header__title fs-2">
          Hola,
          <br />
          soy <span class="text-info">Franco Barbieri </span>👋
          <br />
          Desarrollador Fullstack
        </p>
        <button  onclick="location.href='#contact'" class="btn btn-info btn-contact">Contacto</button>
      </div>
      <img class="header__image" src="assets/img/250x250.png" alt="Franco Barbieri" />
    </div>
  </div>
</header>