header{
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.header__hero {
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-xl);
  /*transform: translateY(-20%);*/
}

a{
  text-decoration: none;
  color: #000;
}

.header__image {
  width: 250px;

}

.header__title {
  font-family: var(--font-items);
  font-weight: 800;
}

.btn-contact {
  font-family: var(--font-items);
}

@media (min-width: 767px) {
  .header__hero {
    flex-direction: row;
    gap: 20vw;
  }
}